* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

button:hover {
    cursor: pointer;
}

body {
    background: #282828;
}

#title {
    color: #DAA520;
    text-align: center;
    margin: 10px;
    font-size: 3rem;
    font-weight: bolder;
}

.content {
    position: relative;
    top: 50%;
    transform: translateY(40%);
}

.contentDiv {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: goldenrod;
    width: 50vw;
    min-height: 50vh;
    border-radius: 75px;
}

#newAccountDiv, #transferDiv, #movementDiv, #statementDiv {
    display: none;
}

.menuBtn {
    margin-top: 10px;
    font-size: 1.5rem;
    width: 70%;
    height: 50px;
}

.inputElem {
    font-size: 1.25rem;
    margin: 5px;
    width: 80%;
    height: 35px;
    text-align: center;
}

label {
    font-size: 1.25rem;
    color: white;
}

.radioDiv {
    margin: 10px;
    font-size: 1.25rem;
    color: white;
    text-align: center;
}

.accRejectBtnDiv {
    display: flex;
    justify-content: center;
    width: 100%;
}

.acceptRejectBtn {
    font-size: 2rem;
    width: 40%;
    height: 50px;
}

.transferAccountsDiv {
    display: flex;
    justify-content: center;
    width: 100%;
}

.transferAccOutDiv, .transferAccInDiv {
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#transAccNumberOut, #transAccNumberIn {
    font-size: 2rem;
    width: 100%;
    height: 50px;
    text-align: center;
}

#movAccNumber, #statAccNumber {
    font-size: 2rem;
    width: 40%;
    height: 50px;
    text-align: center;
}

#statTableDiv {
    overflow: hidden;
    overflow-y: auto;
    overflow-x: auto;
    width: 80%;
    height: 25vh;
}

#statTable {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 1px solid #000000;
    border-collapse: collapse;
    padding: 5px;
}

#statTable th {
    border: 1px solid #000000;
    padding: 5px;
    background:#F0F0F0;
    top: 0;
    position: sticky;
}

#statTable td {
    border: 1px solid #000000;
    background: #ffffff;
    padding: 5px;
}